<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <div formGroupName="credentials">

<div>
    <label >Name :
        <input type="text" name="name" formControlName="name">
    </label>
</div>
<div>
    <label>mail : 
         <input type="text" name="mail" formControlName="mail">
        
                <div  *ngIf="userForm.get('credentials.mail')?.errors" class="error-msg" >
                    <div [hidden]="!userForm.get('credentials.mail')?.errors?.['required']">password is required.</div>
                    <div [hidden]="!userForm.get('credentials.mail')?.invalid">password is invalid "@".</div>
                </div>
    </label>
</div>
<div>
    <label>password  :
        <input type="text" name="password" formControlName="password">
    </label>
</div>
<div>
    <label>street : 
         <input type="text" name="street" formControlName="street">
    </label>
</div>
<div>
    <label>code postal : 
        <input type="text" name="postalCode" formControlName="postalCode">
    </label> 
</div>
<div>
    <label>ville : 
         <input type="text" name="city" formControlName="city">
    </label>
</div>
<button type="submit"  >Inscription</button>
</div>
</form>

<h1>Utilisateurs inscrit:</h1>

<div *ngFor="let user of users">
    {{user.name}}
    {{user.mail}}
    {{user.password}}
    {{user.street}}
    {{user.postalCode}}
    {{user.city}}
</div>
